p {
    font-size: 14px;
}

h1 {
    margin: 0px;
}

.horizontal-input-field {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.input-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
}

.main-body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.create-button {
    align-self: self-start;
}

.input-grid-checkbox {
    justify-self: left;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.signed-in-info-container {
    display: none;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    column-gap: 10px;
}

.sign-in-button {
    display: block;
    margin-left: auto;
    align-items: center;
}

.sign-in-panel {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    margin-left: auto;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--vscode-input-background);
    border-color: var(--vscode-input-border);
    padding: 10px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
}

.vscode-text-field.personal-access-token-text-field {
    width: 300px;
}

.login-button {
    margin-left: auto;
}

.keep-me-logged-in-checkbox {
    justify-self: left;
}

.signed-in-user-profile-image {
    width: 32px;
    height: 32px;
}

.sign-in-panel-buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

/* VS Code control styles */
.vscode-text-field {
    background-color: var(--vscode-input-background);
    border-width: 2px;
    border-color: var(--vscode-input-border);
    border-style: solid;
    border-radius: 6px;
    color: var(--vscode-input-foreground);
    font-family: 'Segoe WPC', 'Segoe UI';
    padding: 4px;
    align-self: center;
    width: 600px;
}

.vscode-text-field:focus {
    background-color: var(--vscode-input-option-active-background);
    border-color: var(--vscode-input-option-active-border);
    color: var(--vscode-input-option-active-foreground);
}

.vscode-combo-box {
    background-color: var(--vscode-input-background);
    border-width: 2px;
    border-color: var(--vscode-input-border);
    border-style: solid;
    border-radius: 6px;
    color: var(--vscode-input-foreground);
    font-family: 'Segoe WPC', 'Segoe UI';
    padding: 4px;
    align-self: center;
}

.vscode-button {
    background-color: var(--vscode-button-background);
    border-width: 2px;
    border-color: var(--vscode-button-border);
    border-style: solid;
    color: var(--vscode-button-foreground);
    padding: 6px;
    font-family: 'Segoe WPC', 'Segoe UI';
    font-weight: 500;
    border-radius: 2px;
}

.vscode-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.vscode-button:active {
    background-color: var(--vscode-button-background);
}

.vscode-button:disabled {
    background-color: var(--vscode-disabledForeground);
}

.vscode-checkbox {
    background-color: var(--vscode-checkbox-background);
    color: var(--vscode-checkbox-foreground);
    border-color: var(--vscode-checkbox-border);
}

.vscode-checkbox:focus {
    border-color: var(--vscode-checkbox-border);
}
